@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&family=Marhey:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

/*******************
        Allmänt 
********************/

body {
    display: flex;
    flex-direction: column;
    
    background-color: #FFFCE6;

    font-family: "Gabriela", serif;

    margin: 0%;
}

.vit_T {
    color: #F2FFF7;
}

.mörk_B {
    background-color: #c96f58;

    width: fit-content;

    padding-left: 20px;
    padding: 0px 20px;
    margin: 10px 20px;
}


/*******************
        Rubrik 
********************/

header {
    background-color: #FCAE9A;

    border: #733c3c 2px solid;
    border-radius: 5px;
    
    align-self: center;
    text-align: center;

    width: 90%;
    margin: 25px 0;
}

h1 {
    color: #26371b;
    
    font-family: "Irish grover", monospace;
    font-size: 2.3em;

    padding: 5px auto;
}



/*******************
       Intro 
********************/


.övre {
    width: 100%;

    border-top: #733c3c 35px solid;
    border-bottom: #733c3c 35px solid;
}

.intro {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 6fr 5fr;
    column-gap: 25px;
    row-gap: 15px;

    width: 90%;
    align-self: center;
    justify-self: center;

    margin-top: 25px;
    margin-bottom: 25px;
}


/***** Bild *****/

#tårta {
    grid-row: 1/3;

    object-fit: cover;

    width: 100%;
    height: 100%;
}


/***** Data *****/

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;

    align-items: center;
    background-color: #DE856F;
}

.data_P {
    font-family: "Marhey", sans-serif;
    font-size: 28px;

    color: #26371b;

    margin: 0px 0px;
}

i {
    font-weight: lighter;
    font-size: 14px;
}

.icon {
    height: 60%;
    max-height: 50px;
}


/***** Information *****/

.information {
    background-color: #FCAE9A;
    color: #26371b;
}


.info_T {
    font-size: 17px;

    justify-self: center;

    max-width: 90%;
    margin-top: 20px;
}


/*******************
       main 
********************/

main {
    display: flex;
    flex-direction: row;

    width: 90%;
    align-self: center;

    margin: 25px 0px;
}

h2 {
    font-family: "Marhey", sans-serif;
}


/***** ingredienser *****/

aside {
    background-color: #DE856F;

    min-width: 19%;
    text-align: center;
}

#ing_Rubrik {
    text-decoration: underline #733c3c 2.5px;
    text-underline-offset: 3px;
}

#ingredienser_lista {
    color: #26371b;

    text-align: start;
    list-style: "> ";

    font-size: 17px;

}

.mängd {
    font-weight: normal;
    color: #582222;
}

#ingredienser_bild {
    height: 100px;
    width: 90%;

    object-fit: cover;
}


/***** instruktioner *****/

article {
    background-color: #FCAE9A;
    margin-left: 25px;
    padding: 10px 15px;
}

#instruktioner {
    font-size: 16px;
    color: #26371b;
    padding-right: 22px;
}

li{
    margin-bottom: 5px;
}

#bak_1 {
    float: right;
    height: 180px;
    width: 250px;
    object-fit: cover;
    margin: 15px;
}

#bak_2 {
    float: left;
    height: 180px;
    width: 250px;
    object-fit: cover;
    margin-right: 33px;
    margin-left: -18px;
    margin-top: 10px;
}


/*******************
        nav
********************/

nav {
    background-color: #DE856F;
    width: 90%;
    align-self: center;
    margin-bottom: 25px;
}

#inköp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;

    margin: 15px 40px;
    font-size: 16.5px;
}

a{
    color: #582222;
}

#inköp_Rubrik{
    color: #F2FFF7;
    text-decoration: underline 2.5px #733c3c;
    text-underline-offset: 3px;

    margin-bottom: 0px;
    padding-left: 35px;
}


/*******************
        footer
********************/


footer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: #733c3c;
    text-align: center;
    color: #FCAE9A;
}

#mail{
    margin-left: 10px;

    color: #F2FFF7;
}