@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&family=Marhey:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

/*******************
        Allmänt 
********************/

body {
    display: flex;
    flex-direction: column;

    background-color: #FFFCE6;
    margin: 0%;
}

.vit_T {
    color: #F2FFF7;
}

.mörk_B {
    background-color: #DE856F;
    width: fit-content;
    
    padding-left: 20px;
}


/*******************
        Rubrik 
********************/

header {
    background-color: #FCAE9A;

    border: #733c3c 2px solid;
    border-radius: 5px;

    width: 92%;
    align-self: center;
    text-align: center;
    margin: 25px 0;
}

h1 {
    font-family: "Irish grover", monospace;
    color: #26371b;

    font-size: 2.3em;

    padding: 5px auto;
}



/*******************
       Intro 
********************/


.övre {
    width: 100%;

    border-top: #733c3c 35px solid;
    border-bottom: #733c3c 35px solid;
}

.intro {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 6fr 5fr;
    column-gap: 25px;
    row-gap: 15px;

    width: 92%;
    align-self: center;
    justify-self: center;

    margin-top: 25px;
    margin-bottom: 25px;
}

/***** Bild *****/

.tårta {
    grid-row: 1/3;

    width: 100%;
    height: 100%;
}

/***** Data *****/

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;

    align-items: center;
    background-color: #DE856F;
}

.data_P {
    font-family: "Marhey", sans-serif;
    font-size: 28px;

    color: #26371b;

    margin: 0px 0px;
}

i {
    font-weight: lighter;
    font-size: 14px;
}

.icon {
    height: 60%;
    max-height: 50px;
}

/***** Information *****/

.information {
    background-color: #FCAE9A;
    color: #26371b;
}


.info_T {
    font-family: "Gabriela", serif;
    font-size: 17px;

    justify-self: center;

    width: 90%;
    margin-top: 20px;
}


/*******************
       main 
********************/

main {
    display: flex;
    flex-direction: row;
    
    width: 92%;
    align-self: center;

    margin: 25px 0px;
}

h2{
    font-family: "Marhey", sans-serif;
}


/***** ingredienser *****/

aside {
    background-color: #DE856F;

    min-width: 19%;
    text-align: center;
}

#ing{
    text-decoration: underline #733c3c 2.5px;
}

.lista{
    color: #26371b;
    
    text-align: start;
    list-style:"> ";

    font-family: "Gabriela", serif;
    font-size: 17px;

}

.mängd{
    font-weight: normal;

    color: #733c3c;
}

.bild2 {
    height: 100px;
}



/***** instruktioner *****/

article {
    background-color: darkseagreen;
    margin-left: 25px;
}

footer {
    background-color: #733c3c;
    text-align: center;
}











nav {
    background-color: deepskyblue;
    width: 92%;
    align-self: center;
    margin-bottom: 25px;
}

#inköp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}